/* Variables */
/* Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Generic */
body,
html {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: #ddd;
  user-select: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.icon {
  object-fit: contain;
  height: 25px;
  opacity: 0.5;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 0.4s ease;
}
.icon:hover {
  filter: grayscale(0%);
  opacity: 1;
}

.screen {
  display: flex;
  flex-direction: column;
  width: 325px;
  height: 617px;
  box-shadow: 0px 0px 10px 2px rgba(140, 140, 140, 0.15);
  margin: 0 5px;
  padding: 12px;
  border-radius: 25px;
  background-color: #F9F9F9;
}
@media (max-width: 800px) {
  .screen {
    transform: scale(0.6);
  }
}

/*Layout*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__icon {
  height: 25px;
  object-fit: cover;
  margin-right: 5px;
}
.header__title {
  font-size: 18px;
}

.categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}
.categories__link {
  position: relative;
  font-size: 10px;
  padding: 6px 16px;
  border-radius: 16px;
  border: 1px solid #E8003C;
  color: #E8003C;
  cursor: pointer;
  overflow: hidden;
}
.categories__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: #E8003C;
  transition: 0.4s ease;
}
.categories__link:hover {
  color: #ffffff;
}
.categories__link:hover::before {
  left: 0%;
}
.categories__text {
  position: relative;
  z-index: 10;
}

.video {
  width: 100%;
}
.video__item {
  position: relative;
  width: 100%;
}
.video__img {
  height: 165px;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}
.video__stats {
  position: absolute;
  top: 0;
  height: 165px;
  width: 100%;
  cursor: pointer;
}
.video__views {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 9px;
  padding: 2px 10px;
  border-radius: 12px;
  color: #ffffff;
  background-color: #E8003C;
}
.video__options {
  position: absolute;
  top: 10px;
  right: 10px;
}
.video__duration {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 8px;
  padding: 2px 6px;
  border-radius: 6px;
  color: #ffffff;
  background-color: #8c8c8c;
}
.video__info {
  display: flex;
  margin: 5px 0 10px;
}
.video__photo {
  object-fit: cover;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin-right: 5px;
  cursor: pointer;
}
.video__title {
  font-size: 12px;
}
.video__channel {
  font-size: 9px;
  line-height: 1.8;
  opacity: 0.9;
}

.menu {
  width: 100%;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 1px rgba(140, 140, 140, 0.15);
  padding: 10px 14px;
}
.menu__list {
  display: flex;
  justify-content: space-between;
}
.menu__link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.menu__link:hover .menu__icon {
  filter: grayscale(0%);
  opacity: 1;
}
.menu__link:hover .menu__txt {
  color: #E8003C;
}
.menu__icon {
  height: 20px;
  object-fit: contain;
}
.menu__txt {
  color: #8c8c8c;
  font-size: 8px;
  transition: 0.4s ease;
  font-weight: bold;
}